# Default ignored files
/caches
/inspectionProfiles
/libraries
/shelf/
/assetWizardSettings.xml
/compiler.xml
/deploymentTargetDropDown.xml
/gradle.xml
/kotlinScripting.xml
/misc.xml
/modules.xml
/navEditor.xml
/vcs.xml
/workspace.xml
